.form-body {
  width: 46vw;
  border: 2px solid;
  background-color: whitesmoke;
  display: flex;
  flex-flow: column;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 10px;
}
.color-block {
  margin-left: 20px;
}
.form-container {
  display: flex;
  flex-flow: row;
}
.user-img {
  width: 70px;
  height: 70px;
}
.input-field {
  height: 78px;
  width: 47.2vw;
}
.selected-gif-container {
  border: 2px solid;
  width: 46vw;
  height: 25.7vw;
  margin-top: 10px;
}
.selected-img {
  width: 46vw;
}
.color-block-body {
  display: flex;
  flex-flow: row;
  align-items: center;
  margin-top: 10px;
}
.cb-icon-body {
  width: 20px;
  height: 20px;
}
.cb-icon {
  width: 20px;
  height: 20px;
}
.Tags-body {
  display: flex;
  flex-flow: wrap;
  justify-content: center;
  justify-content: space-around;
  padding: 10px;
}
.tags-container {
  display: flex;
  flex-flow: row;
}
.tags {
  border: 1px solid lightgrey;
  width: 22vw;
  text-align: center;
  margin-top: 10px;
  border-radius: 1rem;
  margin-right: 10px;
  /* background: " #e9e9e9", */
}
.tags:hover {
  background-color: lightgray;
}
