.container {
  /* border: 2px solid; */
  margin: 0px 430px;
  align-items: center;
  width: 50%;
}
.btn {
  width: fit-content;
  padding: 3px;
}
/* hr {
  height: 10px;
  color: black;
  margin-left: 10px;
  margin-right: 10px;
} */
.form-body {
  border: "2px solid";
  width: "500px";
}
/* .nav {
  display: "flex";
  flex-flow: "row";
  border: "2px solid ";
  background-color: "seashell";
}
.nav-body {
  margin-top: "10px";
  border: "2px solid";
  height: "50vw";
} */
.btn-1 {
  font-weight: 400;
  font-size: 11px;
  display: flex;

  align-items: center;
}
.btn-2 {
  font-weight: 400;
  font-size: 11px;
  display: flex;
  padding-left: 9px;
  padding-right: 10px;
  align-items: center;
  color: #4267b2;
}
.btn-3 {
  font-weight: 400;
  font-size: 11px;
  display: flex;
  padding-left: 9px;
  padding-right: 10px;
  align-items: center;
  color: #4267b2;
}
.btn-4 {
  height: 20px;
  width: 20px;
  display: flex;
  align-items: center;
}

.select {
  margin-left: 10px;
}
.button {
  margin-left: 6px;
  margin-right: 10px;
  background: #4267b2;
  color: white;
}
/* .parent-nav {
  border: "2px solid";
  height: "50vw";
  margin-top: "10px";
  display: "flex";
  flex-flow: "column";
  justify-content: "space-between";
}
.nav-body {
  display: "flex";
  flex-flow: "row";
  border: "2px solid ";
  background-color: "seashell";
} */

.block-body {
  display: flex;
  flex-flow: row;
}
.clr {
  border: 1px solid whitesmoke;
  height: 30px;
  width: 30px;
  background-color: #4267b2;
}
