.hover:hover {
  background-color: #dddcdc;
}

.gif-body {
  border: 1px solid grey;
  box-shadow: 0px 0px 2px 1px grey;
  height: 170px;
  width: 191px;
  background-color: white;
  overflow: auto;
  overflow-x: hidden;
  margin-right: 15vw;
  /* margin-top: 10vw; */
  border-radius: 0.4rem;
}

.search-gif {
  border: none;
  width: 20vw;
  height: 2vw;
  margin-top: 5px;
  margin-top: 6px;
  box-shadow: 0px 0px 2px 1px grey;
}

.gif-list {
  border: 1px solid lightgrey;
  margin: 5px;
  height: 130px;
}
.gif-list-child {
  width: 24vw;
  height: 13vw;
}
.list-images {
  width: 22vw;
  height: 15vw;
  padding-bottom: 10px;
}
